<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>


</head>
<body>
    <h1> Générateur de photo </h1>

    {% for i in cat %}
        <img src="{{ i.url }}" alt="test">
{#        {%  if i.categories==true %}#}
{#            <p>{{ i.categories.name}}</p>#}
        <p>{{ i.id }}</p>
{#        {% endif %}#}
    {% endfor %}

</body>

</html>